.btn {
  border-radius: 5px;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  opacity: 1;
}

.btn:active {
  transform: scale(0.95);
}

/* Add Button */

.btn-add {
  border: none;
  opacity: 0.7;
  display: flex;
  padding-left: 0px;
  font-size: inherit;
  background: none;
}

/* Delete Button */

.btn-delete {
  width: 15px;
  height: 15px;
  opacity: 0.6;
  border: none;
  background: url("../../../assets/icons/delete-icon.svg");
  background-size: contain;
}