.btn {
  border-radius: 5px;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  opacity: 1;
}

.btn:active {
  transform: scale(0.95);
}

/* Add Button */

.btn-add {
  padding: 5px;
  opacity: 0.9;
  color: white;
  background: green;
}

/* Delete Button */

.btn-delete {
  width: 20px;
  height: 20px;
  opacity: 0.6;
  border: none;
  background: url("../../../assets/icons/delete-icon.svg");
  background-size: contain;
}

.btn-delete:hover {
}