.invoice-table {
  border-collapse: collapse;
  min-width: 478px;
}

.invoice-table thead {
  margin: 5px;
  border-bottom: 1px solid rgba(0,0,0,0.10);
}

th:first-child {
  text-align: left;
}

/* would need to refactor this
   -accounting for empty table
*/

.Item {
  width: 155px;
}

.Qty {
  width: 60px;
}

.Price, .Total {
  width: 120px;
}