.input {
  width: 150px;
  border: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  margin: 3px 1px 3px 0px;
  text-overflow: ellipsis;
  transition: all 0.30s ease-in-out;
}

.input:hover {
  opacity: 0.6;
  cursor: pointer;
}

.input:focus {
  cursor: auto;
  margin: 3px 1px 3px 0px;
  box-shadow: 0 0 3px rgba(81, 203, 238, 1);
}

/* Adjust font size */

.adjustFontSize {
  font-size: 1rem;
}