html, body {
  font-size: 1rem;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

.container {
  top: 40%;
  left: 50%;
  margin-right: -50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.invoice-table {
  padding: 10px;
  display: flex;
  border-radius: 5px;
  align-items: flex-end;
  flex-direction: column;
  border: 1px solid rgba(0,0,0,0.10);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}